@media (min-width: 900px) {
  body.baggrund {
    background-color: #95a6a0;
    background-image: url("..//images/splash_forside.png");
    background-position: 30% 75%;
    height: 780px;
    background-size: cover;

    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  body.baggrundportfolio {
    background-color: #95a6a0;
    background-image: url("../images/splash_portfolio.png");
  }

  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 40px;
  }

  p {
    font-size: 24px;
  }

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .rund_boks {
    max-width: 1500px;
    margin: 10px;
  }

  .knap {
    padding: 10px 20px;
    font-size: 30px;
  }

  a {
    font-family: jurabold;
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: center;
  }

  .grid_1_1_1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #item1 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
  }

  #item2 {
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 3;
  }

  #item3 {
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 3;
  }

  .grid_1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #item4 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
  }

  #item5 {
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 3;
  }

  .portræt {
    max-width: 80%;
    border-radius: 20%;
  }

  .portræt_billede {
    background-image: url(..//images/splash_ommig.png);
  }
}
